<%- include('header.html') %>

		  <div class="row pt-5 m-auto" >
		      	<div class="col-md-6 col-lg-4 pb-3" >
					<div class="card card-custom bg-white border-white border-0">
				      <div class="card-custom-img" style="background-image: url('/assets/img/card-bg.jpg');"></div>
				      <!--
				      <div class="card-custom-avatar">
			            <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
			          </div>//-->
				      <div class="card-body" style="overflow-y: auto;">
				        	<h4 class="card-title">새해에는저와함게첫커피를♥</h4>
				        	<textarea id="hh1" style="width:100%;border:0px;" rows=10>
♧ )) ♧ 따뜻한
┃(( *.┣┓사랑차
┃* ♠.┣┛마시고
┗━━┛ 즐거운
하루보내세요♥♥
http://hihitel.shop
				        	</textarea> 
				      </div>
				      <div class="card-footer" style="background: inherit; border-color: inherit;">
				        <button class="btn btn-primary" data-clipboard-target="#hh1" data-toggle="tooltip" data-placement="top" title="복사끝. >< 따뜻한 새해인사를 전해보세요♥">복사</button>
				        <!--<a href="#" class="btn btn-outline-primary">수정하기</a>//-->
				      </div>
				    </div>
				</div><!--col//-->



				<div class="col-md-6 col-lg-4 pb-3" >
					<div class="card card-custom bg-white border-white border-0">
				      <div class="card-custom-img" style="background-image: url('/assets/img/card-bg.jpg');"></div>
				      <!--
				      <div class="card-custom-avatar">
			            <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
			          </div>//-->
				      <div class="card-body" style="overflow-y: auto;">
				        	<h4 class="card-title">이바보야진짜아니야♥</h4>
				        	<textarea id="hh2" style="width:100%;border:0px;" rows=10>
☆┠┥┣┝┨☆
"'*'￣* * ..┻ *'"
〃□┫え┨○┃〃
"｀○‥○ 。｀"

http://hihitel.shop
				        	</textarea> 
				      </div>
				      <div class="card-footer" style="background: inherit; border-color: inherit;">
				        <button class="btn btn-primary" data-clipboard-target="#hh2" data-toggle="tooltip" data-placement="top" title="복사끝. >< 따뜻한 새해인사를 전해보세요♥">복사</button>
				        <!--<a href="#" class="btn btn-outline-primary">수정하기</a>//-->
				      </div>
				    </div>
				</div><!--col//-->




				<div class="col-md-6 col-lg-4 pb-3" >
					<div class="card card-custom bg-white border-white border-0">
				      <div class="card-custom-img" style="background-image: url('/assets/img/card-bg.jpg');"></div>
				      <!--
				      <div class="card-custom-avatar">
			            <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
			          </div>//-->
				      <div class="card-body" style="overflow-y: auto;">
				        	<h4 class="card-title">★새해인데벌써★</h4>
				        	<textarea id="hh3" style="width:100%;border:0px;" rows=10>
┡┧━┒*'☆ `
┖┙┵  `* `+ `
┶／＼┃┎━
☆ ┭┱ ┕─┢
`* ┺┶ `,☆
http://hihitel.shop
				        	</textarea> 
				      </div>
				      <div class="card-footer" style="background: inherit; border-color: inherit;">
				        <button class="btn btn-primary" data-clipboard-target="#hh3" data-toggle="tooltip" data-placement="top" title="복사끝. >< 따뜻한 새해인사를 전해보세요♥">복사</button>
				        <!--<a href="#" class="btn btn-outline-primary">수정하기</a>//-->
				      </div>
				    </div>
				</div><!--col//-->



				

		</div><!--row //-->

<%- include('footer.html') %>