	<br><br><br><br>
	</div><!--page-content//-->




	<footer id="sticky-footer" class="py-4 bg-dark text-white-50">

	    <div class="container text-center">
	      <small>admin@hume.co.kr 좋은 이모티콘을 아시는 분은 <br>공유부탁드려요 ><</small><br>
	      <small>Copyright &copy; HUME #f1xa11</small>
	      <a href=""><small>마음의소리</small></a>
	      <a href=""><small>개인정보처리방침</small></a>
	    </div>
	</footer>
	<!--clipboard//-->
	<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

	<script type="text/javascript" src="/assets/js/jquery.slim.js"></script>
	<!--popper.min.js//-->
	<script type="text/javascript" src="/assets/js/popper.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript">

		$(document).ready(()=>{
			cp = new ClipboardJS('.btn');
			cp2 = new ClipboardJS('.cp');

			$('textarea').attr('readonly','readonly');
			
		});		

		function adclose(){
			$('#ad').css('display','none');
		}
	</script>
	<script type="text/javascript">
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
	</script>
</body>
</html>