<%- include('header') %>

		  <div class="row pt-5 m-auto" >
		      	<div class="col-md-6 col-lg-4 pb-3" >
					<div class="card card-custom bg-white border-white border-0">
				      <div class="card-custom-img" style="background-image: url('/assets/img/card-bg.jpg');"></div>
				      <!--
				      <div class="card-custom-avatar">
			            <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
			          </div>//-->
				      <div class="card-body" style="overflow-y: auto;">
				        	<h4 class="card-title">두둠칫!새해인사!</h4>
				        	<textarea id="hh1" style="width:100%;border:0px;" rows=10>
⊂_ヽ 
　 ＼＼ Λ＿Λ 
　　 ＼( 'ㅅ' ) 두둠칫 
　　　 >　⌒ヽ 
　　　/ 　 へ＼ 
　　 /　　/　＼＼ 
　　 ﾚ　ノ　　 ヽ_つ 
　　/　/두둠칫 
　 /　/| ๑•‿•๑
　(2020년복많이받으세요♥
http://hihitel.shop
				        	</textarea> 
				      </div>
				      <div class="card-footer" style="background: inherit; border-color: inherit;">
				        <button class="btn btn-primary" data-clipboard-target="#hh1" data-toggle="tooltip" data-placement="top" title="복사끝. >< 따뜻한 새해인사를 전해보세요♥">복사</button>
				        <!--<a href="#" class="btn btn-outline-primary">수정하기</a>//-->
				      </div>
				    </div>
				</div><!--col//-->



				<div class="col-md-6 col-lg-4 pb-3" >
					<div class="card card-custom bg-white border-white border-0">
				      <div class="card-custom-img" style="background-image: url('/assets/img/card-bg.jpg');"></div>
				      <!--
				      <div class="card-custom-avatar">
			            <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
			          </div>//-->
				      <div class="card-body" style="overflow-y: auto;">
				        	<h4 class="card-title">너를위한기도♥</h4>
				        	<textarea id="hh2" style="width:100%;border:0px;" rows=10>
{\__/}
( • - •)
/つ🐟🐟 2020년에도♥
{\__/}
( • - •)
/つ 🍣🍣 모든일이 잘되기를♥
http://hihitel.shop
				        	</textarea> 
				      </div>
				      <div class="card-footer" style="background: inherit; border-color: inherit;">
				        <button class="btn btn-primary" data-clipboard-target="#hh2" data-toggle="tooltip" data-placement="top" title="복사끝. >< 따뜻한 새해인사를 전해보세요♥">복사</button>
				        <!--<a href="#" class="btn btn-outline-primary">수정하기</a>//-->
				      </div>
				    </div>
				</div><!--col//-->




				<div class="col-md-6 col-lg-4 pb-3" >
					<div class="card card-custom bg-white border-white border-0">
				      <div class="card-custom-img" style="background-image: url('/assets/img/card-bg.jpg');"></div>
				      <!--
				      <div class="card-custom-avatar">
			            <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
			          </div>//-->
				      <div class="card-body" style="overflow-y: auto;">
				        	<h4 class="card-title">★마법의2020★</h4>
				        	<textarea id="hh3" style="width:100%;border:0px;" rows=10>
...Λ＿Λ
（ㆍωㆍ)つ━☆*。
⊂　　 ノ 　　　.뾰
　し-Ｊ　　　°。로 *´¨)
　　　　　　..　.· ´¸.·롱*´¨) ¸.·*¨)
2020년♥　　　　　　　(¸.·´ (¸.'*
(｡･ω･｡)つ━☆ 
★반짝반짝 빛나는 한 해가 되세요!★
http://hihitel.shop
				        	</textarea> 
				      </div>
				      <div class="card-footer" style="background: inherit; border-color: inherit;">
				        <button class="cp btn btn-primary" data-clipboard-target="#hh3" data-toggle="tooltip" data-placement="right" title="복사끝. >< 따뜻한 새해인사를 전해보세요♥">복사</button>
				        <!--<a href="#" class="btn btn-outline-primary">수정하기</a>//-->
				      </div>
				    </div>
				</div><!--col//-->



				

		</div><!--row //-->

<%- include('footer') %>